<!-- ** Navigation Bar ** -->
<app-nav-bar></app-nav-bar>

<ng-container
  *ngIf="loggedIn; then _loggedIn; else _loggedOut">
</ng-container>

<!-- ** LoggedIn View w/ option for Admin Access ** -->

<ng-template #_loggedIn>
  <!-- ** Jumbotron w/Conditional Rendering ** -->
  <div class="container text-center wbdv_home_jumotron">
    <div class="jumbotron">
      <h1 class="display-4 wbdv_home_jumotron_heading"> Welcome {{user.username}} </h1>

      <h5 class="lead text-muted">
        Movie you recently added :
        <a href="/details/{{this.user.movies[this.user.movies.length-1]}}" >
          {{this.mostRecentMovie.Title}}
        </a>
      </h5>
    </div>
  </div>
  <!-- ** CuratedList : Heading ** -->
  <div class ="container">
    <div class=" wdbv_home_curatedList">
      <div>
        <h1> CuratedList </h1>
        <p class="lead text-muted">
          Not sure where to start?
          We've hand selected some movies for you to browse.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- ** CuratedList : Add Movie Button  ** -->
    <div *ngIf="user.role === 'Admin'" >
    <input class="wdbv_input" placeholder="Enter movie ID" [hidden]="!isAddingMovie" [(ngModel)]="addMovieId"/>
    <button class="btn btn-success  wbdv_edit_btn" [hidden]="isAddingMovie" (click)="isAddingMovie = true;">
      Add Movie
    </button>
    <button class="btn btn-success  wbdv_edit_btn" [hidden]="!isAddingMovie" (click)="isAddingMovie = false; addToCuratedList()">
      Submit
    </button>
    </div>
    <!-- ** CuratedList : Movie Cards ** -->
    <div class="row wdbv-searchByID-row">
      <div *ngFor="let movie of curatedLists">
        <div class="wbdv_home_cardDeck col-auto mb-3">
          <div class="card wbdv-search-card text-center " style="width: 18rem;">
            <img class="card-img-top wbdv-search-card-img-top" src="{{movie.movieObject.Poster}}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mt-auto"> {{movie.movieObject.Title}}   </h5>
              <p class="card-text mt-auto">   {{movie.movieObject.Plot}} </p>
              <a href="/details/{{movie.movieID}}" class="btn btn-primary btn-block"> Details </a>
              <button class="btn btn-danger wbdv_deleteBtn "  *ngIf="user.role === 'Admin'"
                      (click)="deleteFromCuratedList(movie._id)"> Delete </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- ** LoggedOut View  ** -->
<ng-template #_loggedOut>
  <!-- ** Jumbotron w/Conditional Rendering ** -->
  <div class="container text-center wbdv_home_jumotron">
    <div class="jumbotron">
      <h1 class="display-4 wbdv_home_jumotron_heading"> Welcome to MovieMatch </h1>
      <h5 class="lead text-muted"> Save a list of your favorite movies! </h5>
      <p class="lead text-muted"> Sign in to create a personal MovieList filled with your favorite
        films. On each movie click the 'Details' button to find more information. Then
        when you find a movie you like, click the 'Add' button to save it to your MovieList.
      </p>
      <a href="/register"  class="btn btn-primary my-2 wbdv-home-jumbotron-btn"> Sign Up </a>
      <a href="/login" class="btn btn-secondary my-2 wbdv-home-jumbotron-btn"> Login </a>
    </div>
  </div>
  <!-- ** CuratedList ** -->
  <div class ="container">
    <div class=" wdbv_home_curatedList">
      <div>
        <h1> CuratedList </h1>
        <p class="lead text-muted">
          Not sure where to start?
          We've hand selected some movies for you to browse.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wdbv-searchByID-row">
      <div *ngFor="let movie of curatedLists">
        <div class="wbdv_home_cardDeck col-auto mb-3">
          <div class="card wbdv-search-card text-center " style="width: 18rem;">
            <img class="card-img-top wbdv-search-card-img-top" src="{{movie.movieObject.Poster}}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mt-auto"> {{movie.movieObject.Title}}   </h5>
              <p class="card-text mt-auto ">   {{movie.movieObject.Plot}} </p>
              <a href="/details/{{movie.movieID}}" class="btn btn-primary btn-block mt-auto "> Details </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>





